#full-cart-container {
    margin: 0;
    padding: 0;
    width: 99%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@keyframes cart-entry {
    0% {
        width: 0%;
    }
    100% {
        width: 40%;
    }
}

#full-cart-details-container {
    padding: 20px 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 1px;
    width: 40%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    position: relative;
    animation-name: cart-entry;
    animation-duration: 0.3s;
}

#full-cart-close-icon {
    color: red;
    position: absolute;
    top: 5px;
    right: 5px; 
}

#full-cart-close-icon:hover {
    cursor: pointer;
}

#full-cart-heading {
    font-size: 1.5em;
    text-align: center;
    font-weight: 800;
}

#full-cart-item-container {
    display: flex;
    flex-direction: column;
    width: 98%;
    overflow: hidden;
    box-shadow: 0 0 1px;
}

#full-cart-item-empty-p {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
}

#full-cart-item-container:hover {
    overflow-y: auto;
}

#cost-and-checkout-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

#cost-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 800px) {
    #full-cart-details-container {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    #full-cart-details-container {
        width: calc(100% - 40px);
    }
}