#bill-info-container {
    width: 50%;
}

#bill-info-heading {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

.bill-info-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

#bill-info-table {
    width: 100%;
    border: 1px solid black;
}

.td-right {
    text-align: right;
}