@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Regular.ttf');
}

* {
    padding: 5px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Roboto';
}

.menu-item{
    margin: 5px;
    border: 1px solid black;
    border-radius: 5%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
}

.price-quantity{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0px;
    margin-top: auto;
}

.price, .quantity{
    display: flex;
    flex-direction: row;
}

.increment-button, .decrement-button {
    width: 100%;
    cursor: pointer;
}

.add-to-cart-button{
    color: #fff;
    background-color: #f00;
    text-align: center;
    padding: 5px 0px;
    margin: 5px;
    cursor: pointer;
    border-radius: 2%;    
}

img {
    width: 100%;
    height: 200px;
}