<div style="background-color: yellow; text-align: center;padding: 70px;margin: 70px; ">
<h1>
    Login Page
</h1>
<form action="/login" method="POST">
    <label for="username">UserName:</label>
    <input type="text" placeholder="username" id="xyz" name="username">
	<br/>
	<br/>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password">
	<br/>
	<br/>
    <button>Login</button>
   
</form>
</div>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">SignUp</a></li>
</ul>
