<div style="background-color: lightblue; text-align: center;padding: 50px;margin: 50px;display: inline-block;">
<h1>
    SignUp Page
</h1>
<form action="/register" method="POST">
    <label for="username">UserName</label>
    <input type="text" id="username" name="username"><br/><br/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"><br/><br/>
    <label for="phone">Mobile No:-</label>
    <input type="text" name="phone" id="phone"><br/><br/>
    <label for="telephone">TelePhone No:-</label>
    <input type="text" name="telephone" id="telephone"><br/><br/>
    <label for="address">Address: </label>
    <input type="text" name="address" id="address"><br/><br/>
    <button>Submit</button>
</form>
</div>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">login</a></li>
</ul>