#order-confirm-container {
    margin: 0;
    width: 99%;
    height: 80vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#order-confirm-area-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
}