:root {
    --heading-font-size: 32px;
    --name-font-size: 30px;
    --quantity-font-size: 15px;
}

#order-details-container {
    width: 98%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#order-details-list-item-container {
    width: 98%;
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#order-details-total-cost-container {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 5%;
    width: 90%;
}