:root {
    /* Defining fonts */
    --stylish-font: 'Pacifico';
}

#app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-content-container {
    width: 100%;
}