:root {
    /* Defining fonts */
    --stylish-font: 'Pacifico';
    --primary-brown: rgba(102, 65, 9, 1);
}

#app-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-content-container {
    width: 100%;
}