#signup-page-container {
    padding: 0px;
    margin: 0;
    width: 100%;
    /* height: 82vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

#signup-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    /* overflow-y: auto; */
}

#signup-page-heading {
    font-size: 35px;
    margin: 40px 0px;
    margin-top: 20px;
}

.signup-page-subheading {
    margin: 0px 10px;
    padding: 0;
}

.signup-input-box {
    margin: 10px;
    padding: 10px;
}

#signup-btn {
    color: #fff;
    background-color: rgba(102, 65, 9, 1);
    text-align: center;
    text-transform: uppercase;
    margin: 5px;
    cursor: pointer;
    border: solid 0.5px black;
    padding: 5px 10%;
    border-radius: 5px;
}

#signup-btn:hover {
    background-color: rgb(61, 38, 3)
}

#signup-page-login, #signup-page-login-link {
    font-size: 20px;
    padding: 5px;
    color: black;
    text-decoration: none;
}

#signup-page-login-link{
    color: red;
}

#signup-page-login-link:hover{
    background-color: rgba(255, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
}